<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="corp.wmsoft.android.examples.mvpc">

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--  Second Activity  -->
        <activity android:label="Second Activity"
                  android:name=".second.SecondActivity"
                  android:parentActivityName=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!--  LongRunning Activity  -->
        <activity android:label="LongRunning Activity"
                  android:name=".longrunning.LongRunningActivity"
                  android:parentActivityName=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!--  Third Activity  -->
        <activity android:label="Third Activity"
                  android:name=".third.ThirdActivity"
                  android:parentActivityName=".second.SecondActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".second.SecondActivity"/>
        </activity>

    </application>

</manifest>